POSTGRES_PASSWORD=CHANGE_ME_postgres
KEYCLOAK_ADMIN_PASSWORD=CHANGE_ME_keycloak
WEB_HOST=lava.stratostech.com.br
API_HOST=apilava.stratostech.com.br
KEYCLOAK_HOST=authlava.stratostech.com.br
KEYCLOAK_HOSTNAME=https://authlava.stratostech.com.br
KEYCLOAK_ISSUER=https://authlava.stratostech.com.br/realms/lava-rapido
DOCKER_NETWORK=HMLStratosNetwork
TRAEFIK_ENTRYPOINT=websecure
TRAEFIK_CERT_RESOLVER=letsencryptresolver
POSTGRES_USER=lava
POSTGRES_DB=lava_rapido
KEYCLOAK_ADMIN=admin
DEV_AUTH=true
JWT_SECRET=
MINIO_ENDPOINT=http://minio:9000
MINIO_PUBLIC_URL=https://apis3.stratostech.com.br
MINIO_ROOT_USER=COLE_O_MINIO_ROOT_USER_DO_SEU_STACK
MINIO_ROOT_PASSWORD=COLE_O_MINIO_ROOT_PASSWORD_DO_SEU_STACK
MINIO_BUCKET=lava-rapido
MINIO_REGION=eu-south
RUN_DB_PUSH=true
RUN_DB_SEED=true
LAVA_API_IMAGE=stratostech/lava-rapido-api:latest
LAVA_WEB_IMAGE=stratostech/lava-rapido-web:latest
LAVA_KEYCLOAK_IMAGE=stratostech/lava-keycloak:latest
